<div class="max-w-4xl mx-auto p-6 text-center">
    <h1 class="text-4xl font-bold text-gray-800 mb-4">Bienvenido a la Lista de Países</h1>
    <p class="text-gray-700 mb-6">
        Esta aplicación te permite explorar información detallada sobre los países de América donde se habla español. 
        Puedes consultar datos como población, área, capitales, fronteras, lenguajes, zonas horarias y más.<br>
        Tambien podrás añadir, modificar datos y eliminar paises
    </p>

    <!-- Botones para ir a la lista y al formulario para añadir paises-->
    <div class="flex justify-center gap-4">
        <a href="/dashboard" class="px-6 py-3 bg-blue-600 text-white font-semibold rounded hover:bg-blue-500 transition">
            Ver Dashboard
        </a>
        <a href="/addCountry" class="px-6 py-3 bg-green-600 text-white font-semibold rounded hover:bg-green-500 transition">
            Agregar País
        </a>
    </div>

    <img src="/images/paises.jpg" class="mx-auto mt-4" width="50%">
</div>