<div class="bg-gray-800 text-gray-200 text-center text-sm py-3 bottom-0 w-full shadow-inner">
    &copy; 2025 Mario Fernando Galindez.  
    Código fuente: 
    <a href="https://github.com/RyomenNano/Sprint5--NodoTecnologico--Modulo3" class="text-blue-400 hover:underline">GitHub</a>
</div>
