<nav class="text-gray-200 shadow mb-6 bg-gray-700 pt-5">
    <div class="flex items-center">

        <a href="/">
            <h1 class="ml-10 text-3xl font-bold mb-6 text-center text-gray-100">
                Lista de paises del mundo
            </h1>
        </a>

        <div class="inline-flex space-x-4 ml-auto mr-5">

            <a href="/Dashboard"
                class="px-4 py-2 rounded-lg bg-gray-600 hover:bg-gray-500 font-semibold shadow transition">
                Lista de paises
            </a>

            <a href="/addCountry"
                class="px-4 py-2 rounded-lg bg-gray-600 hover:bg-gray-500 font-semibold shadow transition">
                Agregar Pais
            </a>

            <a href="/pais/acercaDe"
                class="px-4 py-2 rounded-lg bg-gray-600 hover:bg-gray-500 font-semibold shadow transition">
                Acerca de
            </a>

        </div>
    </div>
</nav>
